.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 460px;
  line-height: 500px;
  background: #364d79;
  overflow: hidden;
}
.productCardDetail {
  width: 100%;
  padding: 10px 0 0;
  max-height: 75px;
  min-height: 75px;
  overflow: hidden;
}
.productCardDetail h3 {
  font-size: 12px;
  font-family: montserrat,sans-serif;
  color: #2d2d2d;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.productPriceBox {
  padding: 5px 0;
  line-height: 18px;
  font-size: 12px;
  font-family: montserrat,sans-serif;
  color: rgba(45,45,45,.5);
  position: relative;
}
.loyaltyPriceBox {
  width: 100%;
  height: auto;
  background-color: hsla(0, 100%, 58%, 0.6);
  border-radius: 2px;
  padding: 5px 4px;
  color: #fff;
  font-weight: 900;
  float: left;
  position: relative;
  margin-top: 5px;
}

.discountedPriceText{
  font-size: 14px;
    font-family: montserrat-regular,sans-serif;
    color: #2d2d2d;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
